include README.md LICENSE AUTHORS.rst CONTRIBUTING.rst
include pyproject.toml setup.cfg
recursive-include quantplus/csrc *.cpp *.h
recursive-include quantplus *.pyx *.pxd
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude *.so *.dylib *.dll
